<div class="container">
<div class="sidehead">
    



<div class="main-content">
    
    <div class="text">
        <div class="image">
            <img src="../../assets/exclusive addons logo - Bing images_files/">
        </div>
        <div class="heading">
        EXCLUSIVE ADDONS<br>
        F O R &ensp;&ensp;  E L E M E N T O R
        </div>
        <div class="text1">
            CREATE<br> CUSTOM<br>
            LOGIN FORM
        </div>
        
   </div>
<div class="form-area">
    <form>
        <h3>Log in</h3>
        
        <input type="text" class="form-control" id="username" class="inputs" placeholder="username"><br><br>
        <input type="password" class="password" id="password" class="inputs"placeholder="password"><br><br>
        <button class="Btn" (click)="login()">Login</button><br><br>
        <div class="check">
            <div class="checkbox">
        <input type="checkbox"><p>Remember me?</p></div>
        <p>Lost Your password</p>
        </div>
        <br><br><br>
        <div class="regBtn">
        <button  >Register for an account</button>
    </div>
    </form>
 
</div>