.container{
    background-color: darkcyan;
    height: 100vh;
}
.main-content{
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.form-area{
    width: 48%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;


}
form{
    background-color: white;
    height: 80%;
    width: 50%;
    padding: 5%;
    border-radius: 10px;
}
input{
  
}
.inputs{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border-color: white;
}

.check{
    display: flex;
    flex-direction: row;
    gap: 27%;
}
.checkbox{
    display: flex;
    flex-direction: row;
}
.Btn{
    width: 100%;
    height: 40px;
    background-color: darkcyan;
    color: white;
    border-radius: 5px;
    border-color: white;
}

.regBtn{
    border: none;
    display: flex;
    margin-left: 20px;
    background-color: none;
}
h3{
    font-size: larger;
    display: flex;
    justify-content: center;
}
.heading{
    padding-top: 20px;
    padding-left: 50px;
    color: white;
}
.text1{
    padding-top: 80px;
    padding-left: 50px;
    color: white;
    font-size: 100px;
    font-weight: bolder;
}

.image{
    height: 5%;
    width: 5%;
    border-radius: 5px;
}