<div class="container">
<div class="sidehead">
    



<div class="main-content">
    <div class="text">
        <div class="heading">
        EXCLUSIVE ADDONS<br>
        F O R &ensp;&ensp;  E L E M E N T O R
        </div>
        <div class="text1">
            CREATE<br> CUSTOM<br>
            LOGIN FORM
        </div>
   </div>
<div class="form-area">
    <form>
        <h3>Log in</h3>
        
        <input type="text" placeholder="Username"><br><br>
        <input type="password" placeholder="password"><br><br>
        <button class="Btn">Login</button><br><br>
        
        
    </form>
    <div class="footer">exclusiveaddons.com</div>
</div>